*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #000;
  height: 80vh;
  display: grid;
  place-items: center;
}

.card {
  width: 400px;
  margin: 15px;
}

.card__content {
  text-align: center;
  padding: 15em;
  transition: transform 2s;
  transform-style: preserve-3d;
  background-image: url(assets/ocean-final.jpg);
}

.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card__front {
  background-image: url(assets/ocean-apr27-2020-Cidy-Chai-North-Pacific-sq.jpeg);
}

.card__title {
  color: #fff;
  font-size: 3rem;
  transform: translateZ(6rem);
}

.card__subtitle {
  color: #fff;
  transform: translateZ(4rem);
  font-size: larger;
  font-weight: 500;
}

.card__body {
  color: #fff;
  font-size: 1.8rem;
  transform: translateZ(3rem);
}

.card__back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  transform: rotateY(0.5turn);
}
